apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: pet-business
data:
  nginx.conf: |
    events {}
    http {
        upstream pet_store1_backend {
            server pet-store1:8000;
        }
        
        upstream pet_store2_backend {
            server pet-store2:8000;
        }
        
        upstream pet_order_backend {
            server pet-order:8080;
        }

        server {
            listen 80;

            # PET-STORE 1: Allow GET, POST, DELETE (Required for validation)
            location /pet-types1 {
                proxy_pass http://pet_store1_backend/pet-types;
            }

            # PET-STORE 2: Allow GET, POST, DELETE (Required for validation)
            location /pet-types2 {
                proxy_pass http://pet_store2_backend/pet-types;
            }

            # PET ORDER: Only POST allowed (As per Assignment 2 requirements)
            location /purchases {
                limit_except POST {
                    deny all;
                }
                proxy_pass http://pet_order_backend;
            }

            # TRANSACTIONS: Only GET allowed (As per Assignment 2 requirements)
            location /transactions {
                limit_except GET {
                    deny all;
                }
                proxy_pass http://pet_order_backend/transactions;
            }
            error_log /var/log/nginx/error.log debug;
        }
    }
