apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: database
        image: nginx:latest  # Changed from database:latest
        ports:
          - containerPort: 27017 # Standard Mongo port
        volumeMounts:
          - name: mongo-storage
            mountPath: /data/db # Where Nginx saves data inside container
          resources:
            requests:
              cpu: 200m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
      volumes:
      - name: mongo-storage
        persistentVolumeClaim:
          claimName: mongo-pvc # Must match your PVC filename
