apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: pet-business
spec:
  selector:
    app: nginx
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 31322 # FIXED: Lowercase 'n' is required here
