apiVersion: apps/v1
kind: Deployment
metadata:
  name: database
  namespace: pet-business
spec:
  replicas: 1 # MUST be 1 for a single Persistent Volume
  selector:
    matchLabels:
      app: database
  template:
    metadata:
      labels:
        app: database
    spec:
      containers:
        - name: database
          image: mongo:latest # Added the missing image
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: mongo-storage
              mountPath: /data/db
      volumes:
        - name: mongo-storage
          persistentVolumeClaim:
            claimName: mongo-pvc
