apiVersion: v1
kind: Service
metadata:
  name: database
  namespace: pet-business
spec:
  selector:
    app: mongodb
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
